@charset "UTF-8";
/******************** FLAT ********************/
/**********************************************/
/********* Flat One *********/
:root {
  --tr-rot0: rotateY(0deg);
  --tr-rot180: rotateY(180deg);
  --tr-rot360: rotateY(360deg);
}
.smc-addel-countdown--style-flat-one,
.smc-addel-countdown--style-flat-one * {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 calc(25% - 20px);
  -ms-flex: 1 0 calc(25% - 20px);
  flex: 1 0 calc(25% - 20px);
  max-width: none;
  margin: 0px;
  justify-content: center;
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, "Helvetica Neue", sans-serif;
  padding: 0;
  border: 0;
  font-size: 10px !important;
  font: inherit;
  vertical-align: baseline;
}
.smc-addel-countdown--style-flat-one {
  background-color: #000;
  color: rgba(256, 256, 256, 0.5);
}
.smc-addel-countdown--style-flat-one .smc-addel-countdown--timer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  display: block;
}

.smc-addel-countdown--style-flat-one .smc-addel-countdown--timer-time {
  font-family: "Roboto", sans-serif;
  font-size: calc(10vw / 1.2) !important;
  font-weight: 100;
  letter-spacing: 5px;
  line-height: 1;
  margin-bottom: 0;
  padding-top: 5%;
  padding-bottom: 0;
}
.smc-addel-countdown--style-flat-one .smc-addel-countdown--timer-label {
  font-weight: 300;
  line-height: 26px;

  font-size: calc(1vw / 0.6) !important;
}
.smc-addel-countdown--style-flat-one .smc-addel-countdown--timer::before {
  content: ":";
  font-family: "Roboto", sans-serif;
  font-size: calc(10vw / 1.2) !important;
  font-weight: 100;
  vertical-align: top;
  letter-spacing: 5px;
  line-height: 1;
  margin-bottom: 0;
  padding-bottom: 0;
  position: absolute;
  margin-left: -25%;
  width: 25%;
}
.smc-addel-countdown--style-flat-one .smc-addel-countdown--timer.days::before {
  content: "";
}
@media screen and (max-width: 720px) {
  .smc-addel-countdown--style-flat-one .smc-addel-countdown--timer-label {
    font-size: calc(1vw / 0.4) !important;
  }
}

/********* Flat Two *********/
.smc-addel-countdown--style-flat-two {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: -20px;
  margin-left: -20px;
}

.smc-addel-countdown--style-flat-two .smc-addel-countdown--timer {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 calc(21% - 20px);
  -ms-flex: 1 0 calc(21% - 20px);
  flex: 1 0 calc(21% - 20px);
  max-width: 160px;
  text-align: center;
  border: 1px solid #6e1aa7;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.smc-addel-countdown--style-flat-two
  .smc-addel-countdown--timer
  .smc-addel-countdown--timer-time {
  font-family: Roboto;
  font-size: 72px;
  font-weight: 300;
  line-height: 1;
  display: block;
  margin-bottom: 0;
  padding-top: 26px;
  padding-bottom: 13px;
  color: #cc3399;
}

.smc-addel-countdown--style-flat-two
  .smc-addel-countdown--timer
  .smc-addel-countdown--timer-label {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  display: block;
  color: #f3f3f3;
  background-color: #6e1aa7;
  height: 100%;
}
@media screen and (max-width: 414px) {
  .smc-addel-countdown--style-flat-two .smc-addel-countdown--timer-time {
    font-size: 40px;
  }
}

/********* Flat Three *********/
.smc-addel-countdown--style-flat-three {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: -20px;
  margin-left: -20px;

  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}

.smc-addel-countdown--style-flat-three .smc-addel-countdown--timer {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 calc(21% - 20px);
  -ms-flex: 1 0 calc(21% - 20px);
  flex: 1 0 calc(21% - 20px);
  max-width: 160px;
  text-align: center;
  border: 1px solid #6e1aa7;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;

  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;
  transition: 0.6s;
  transform-style: preserve-3d;
}

.smc-addel-countdown--style-flat-three .smc-addel-countdown--timer.seconds {
  animation-name: flipper-three;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

.smc-addel-countdown--style-flat-three
  .smc-addel-countdown--timer
  .smc-addel-countdown--timer-time {
  font-family: Roboto;
  font-size: 72px;
  font-weight: 300;
  line-height: 1;
  display: block;
  margin-bottom: 0;
  padding-top: 26px;
  padding-bottom: 13px;
  color: #6e1aa7;
  background: #f3f3f3;
}

.smc-addel-countdown--style-flat-three
  .smc-addel-countdown--timer
  .smc-addel-countdown--timer-label {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  display: block;
  color: #f3f3f3;
  background-color: #6e1aa7;
  height: 100%;
}
@media screen and (max-width: 414px) {
  .smc-addel-countdown--style-flat-three .smc-addel-countdown--timer-time {
    font-size: 40px;
  }
}
@keyframes flipper-three {
  0% {
    transform: var(--tr-rot0);
  }
  25% {
    transform: var(--tr-rot360);
    filter: blur(50px);
    -webkit-filter: blur(50px);
  }
  50% {
    transform: var(--tr-rot360) scale(3);
  }
  100% {
    transform: var(--tr-rot0);
  }
}

/********* Flat Four *********/
.smc-addel-countdown--style-flat-four {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: -20px;
  margin-left: -20px;
  background: transparent;
}

.smc-addel-countdown--style-flat-four .smc-addel-countdown--timer {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 calc(21% - 20px);
  -ms-flex: 1 0 calc(21% - 20px);
  flex: 1 0 calc(21% - 20px);
  max-width: 160px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  transition: 1.6s;
  transform-style: preserve-3d;
}

.smc-addel-countdown--style-flat-four
  .smc-addel-countdown--timer.seconds
  .smc-addel-countdown--timer-time::before {
  animation-name: flipper-four;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

.smc-addel-countdown--style-flat-four
  .smc-addel-countdown--timer
  .smc-addel-countdown--timer-time {
  font-family: serif;
  font-size: 72px;
  font-weight: 300;
  line-height: 1;
  display: block;
  margin-bottom: 0;
  padding-top: 26px;
  padding-bottom: 13px;
  color: #868484;
  background: #f3f3f3;
  text-shadow: 03px 0px 1px #00000022;
  letter-spacing: 5px !important;
  border: 2px solid #86866488;
  border-radius: 4px;
}
.smc-addel-countdown--style-flat-four
  .smc-addel-countdown--timer.seconds
  .smc-addel-countdown--timer-time::before {
  content: ".";
  z-index: 2;
  position: absolute;
  color: #f3f3f3;
  background: #f3f3f3;
  width: calc(100% - 4px);
  text-shadow: 03px 0px 1px #00000000;
  display: block;
  margin-bottom: 0;
  overflow: hidden;
  left: 2px;
}

.smc-addel-countdown--style-flat-four
  .smc-addel-countdown--timer
  .smc-addel-countdown--timer-label {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  display: block;
  color: #868664;
  height: 100%;
}
@media screen and (max-width: 414px) {
  .smc-addel-countdown--style-flat-four .smc-addel-countdown--timer-time {
    font-size: 40px;
  }
}
@keyframes flipper-four {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/********* Flat Five *********/
.smc-addel-countdown--style-flat-five {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: -20px;
  margin-left: -20px;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}

.smc-addel-countdown--style-flat-five .smc-addel-countdown--timer {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 calc(21% - 20px);
  -ms-flex: 1 0 calc(20% - 20px);
  flex: 1 0 calc(20% - 20px);
  max-width: 160px;
  text-align: center;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  transform: rotate3d(10, 0, 0, 65deg) scale(1.05);
  border: 5px solid #2da8ef;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 0.5px;
}
.smc-addel-countdown--style-flat-five .smc-addel-countdown--timer::after {
  content: ".";
  position: absolute;
  width: 100%;
  display: block;
  height: 100%;
  background-color: #000000000;
  z-index: -1;
  box-shadow: 5px 60px 25px #00000038;
  border-radius: 5px;
  transform: blur(0px);
}

.smc-addel-countdown--style-flat-five
  .smc-addel-countdown--timer
  .smc-addel-countdown--timer-time {
  font-family: Roboto;
  letter-spacing: 5px;
  font-size: 72px;
  font-weight: 300;
  line-height: 1;
  display: block;
  margin-bottom: 0;
  padding-top: 26px;
  padding-bottom: 13px;
  color: #2da8ef;
  background: #f3f3f3;
}

.smc-addel-countdown--style-flat-five
  .smc-addel-countdown--timer
  .smc-addel-countdown--timer-label {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  display: block;
  color: #f3f3f3;
  background-color: #2da8ef;
  height: 100%;
  padding: 4px 0;
}
@media screen and (max-width: 414px) {
  .smc-addel-countdown--style-flat-five
    .smc-addel-countdown--timer
    .smc-addel-countdown--timer-time {
    font-size: 25px;
  }
  .smc-addel-countdown--style-flat-five
    .smc-addel-countdown--timer
    .smc-addel-countdown--timer-label {
    font-size: 11px;
    padding: 0;
    letter-spacing: -1px;
  }
  .smc-addel-countdown--style-flat-five .smc-addel-countdown--timer {
    max-width: 50px;
    border: 2px solid #2da8ef;
    -webkit-text-stroke: 0px;
  }
}

/******************* CIRCLE *******************/
/**********************************************/
/********* Circle Base *********/
.smc-addel-countdown--style-circle .smcstylusCircleTimers {
  position: relative;
}

.smc-addel-countdown--style-circle .smcstylusCircleTimers canvas {
  width: 100% !important;
}

.smc-addel-countdown--style-circle .smcstylusCircleTimers div {
  position: absolute;
  top: 50% !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.smc-addel-countdown--style-circle .smcstylusCircleTimers div h4 {
  font-family: "Cardo", sans-serif;
  font-weight: 400;
  line-height: 1;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  margin: 0;
  color: #999999;
}

.smc-addel-countdown--style-circle .smcstylusCircleTimers div span {
  font-family: "Source Serif Pro";
  font-weight: 600;
  line-height: 1;
  display: block;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  color: #1d39d7;
}

.smc-addel-countdown--style-circle .smcstylusCircleTimers div span::after {
  content: ".";
}

/********* Circle One *********/
.smc-addel-countdown--style-circle-one {
  margin: auto;
}

.smc-addel-countdown--style-circle-one .smcstylusCircleTimers div h4 {
  font-size: 15px;
}

.smc-addel-countdown--style-circle-one .smcstylusCircleTimers div span {
  font-size: 38px;
  margin-bottom: 5px;
}

.smc-addel-countdown--style-circle-two .smcstylusCircleTimers div span::after {
  content: "";
}

/******************* FLIPPER ******************/
/**********************************************/
/********* Flipper Base *********/
.flipper {
  color: #333;
  display: block;
  font-family: sans-serif;
  font-size: 50px;
  line-height: 100%;
  padding: 0;
  margin: 0;
  height: 1.7em;
}
.flipper.flipper-invisible {
  font-size: 0px !important;
}

.flipper-group {
  position: relative;
  white-space: nowrap;
  display: block;
  float: left;
  padding: 0;
  margin: 0;
}
.flipper-group label {
  position: absolute;
  color: #fff;
  font-size: 20%;
  top: 100%;
  line-height: 1em;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  text-align: center;
  padding-top: 0.5em;
}

.flipper-digit {
  white-space: nowrap;
  position: relative;
  padding: 0;
  margin: 0;
  display: inline-block;
  float: left;
  height: 1.2em;
  overflow-y: hidden;
}
.flipper-digit span {
  font-size: 25%;
}

.flipper-delimiter {
  white-space: nowrap;
  display: block;
  float: left;
  padding: 0;
  margin: 0;
  color: #fff;
  min-width: 0.1em;
  white-space: nowrap;
  display: block;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  line-height: 1em;
}

.digit-face {
  display: block;
  visibility: hidden;
  position: relative;
  border-radius: 0.1em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 8;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.1em;
  padding-right: 0.1em;
  box-sizing: border-box;
  text-align: center;
}

.digit-next {
  display: block;
  position: relative;
  border-radius: 0.1em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 8;
  height: 1.2em;
  background: #fff;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.1em;
  padding-right: 0.1em;
  box-sizing: border-box;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.digit-top {
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  height: 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  pointer-events: none;
  overflow: hidden;
  position: absolute;
  background: #fff;
  padding-top: 0.1em;
  padding-bottom: 0;
  padding-left: 0.1em;
  padding-right: 0.1em;
  border-top-left-radius: 0.1em;
  border-top-right-radius: 0.1em;
  box-sizing: border-box;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background 0s linear, -webkit-transform 0s linear;
  transition: transform 0s linear, background 0s linear;
  transition: transform 0s linear, background 0s linear,
    -webkit-transform 0s linear;
  -webkit-transform-origin: 0 0.6em 0 !important;
  transform-origin: 0 0.6em 0 !important;
  -webkit-transform-style: preserve-3d !important;
  transform-style: preserve-3d !important;
  z-index: 20;
}
.digit-top.r {
  transition: background 0.2s linear, -webkit-transform 0.2s linear;
  transition: transform 0.2s linear, background 0.2s linear;
  transition: transform 0.2s linear, background 0.2s linear,
    -webkit-transform 0.2s linear;
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  background: #cccccc;
}

.digit-top2 {
  visibility: hidden;
  position: absolute;
  height: 50%;
  left: 0;
  right: 0;
  background: #cccccc;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  line-height: 0em !important;
  top: 50% !important;
  bottom: auto !important;
  padding-top: 0;
  padding-bottom: 0.1em;
  padding-left: 0.1em;
  padding-right: 0.1em;
  border-bottom-left-radius: 0.1em;
  border-bottom-right-radius: 0.1em;
  overflow: hidden;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background 0s linear, -webkit-transform 0s linear;
  transition: transform 0s linear, background 0s linear;
  transition: transform 0s linear, background 0s linear,
    -webkit-transform 0s linear;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-style: preserve-3d !important;
  transform-style: preserve-3d !important;
  -webkit-transform-origin: 0 0 0 !important;
  transform-origin: 0 0 0 !important;
  z-index: 20;
}
.digit-top2.r {
  visibility: visible;
  transition: background 0.2s linear 0.2s, -webkit-transform 0.2s linear 0.2s;
  transition: transform 0.2s linear 0.2s, background 0.2s linear 0.2s;
  transition: transform 0.2s linear 0.2s, background 0.2s linear 0.2s,
    -webkit-transform 0.2s linear 0.2s;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  background: #fff;
}

.digit-bottom {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  pointer-events: none;
  position: absolute;
  overflow: hidden;
  background: #fff;
  height: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  line-height: 0em;
  padding-top: 0;
  padding-bottom: 0.1em;
  padding-left: 0.1em;
  padding-right: 0.1em;
  border-bottom-left-radius: 0.1em;
  border-bottom-right-radius: 0.1em;
  box-sizing: border-box;
  text-align: center;
  transition: none;
}
.digit-bottom.r {
  transition: background 0.2s linear;
  background: #cccccc;
}

.flipper-digit:after {
  content: "";
  position: absolute;
  height: 2px;
  background: rgba(0, 0, 0, 0.5);
  top: 50%;
  display: block;
  z-index: 30;
  left: 0;
  right: 0;
}

/********* Flipper Dark *********/
.flipper-dark {
  color: #fff;
}
.flipper-dark .flipper-delimiter {
  color: #333;
}
.flipper-dark .digit-next {
  background: #333;
}
.flipper-dark .digit-top {
  background: #333;
}
.flipper-dark .digit-top.r {
  background: black;
}
.flipper-dark .digit-top2 {
  background: black;
}
.flipper-dark .digit-top2.r {
  background: #333;
}
.flipper-dark .digit-bottom {
  background: #333;
}

.flipper-dark .flipper-group label {
  color: #333;
}

/********* Flipper Dark Gradient *********/
.flipper-dark-gradient {
  color: #fff;
}
.flipper-dark-gradient .flipper-digit {
  box-shadow: 4px 0px 6px rgba(255, 255, 255, 0.3),
    -4px 0px 6px rgba(255, 255, 255, 0.3);
}
.flipper-dark-gradient .flipper-digit:after {
  font-family: sans;
  content: "• •";
  color: #000;
  text-shadow: 1px 1px #ffffff55;
  font-size: 0.6em;
  line-height: 0;
  position: absolute;
  text-align: center;
  height: 4px;
  background: rgba(0, 0, 0, 0.5);
  top: 50%;
  display: block;
  z-index: 30;
  left: 0;
  right: 0;
}
.flipper-dark-gradient,
.flipper-dark-gradient .digit-face,
.flipper-dark-gradient .digit-top,
.flipper-dark-gradient .digit-top2,
.flipper-dark-gradient .digit-next,
.flipper-dark-gradient .digit-bottom {
  border-radius: 0.04em;
  color: #ffffffee;
}
.flipper-dark-gradient .flipper-delimiter {
  color: #333;
}
.flipper-dark-gradient .digit-next {
  background-image: linear-gradient(to left top, #333, #333, #333, #6d6c6c);
}
.flipper-dark-gradient .digit-top {
  background-image: linear-gradient(to left top, #333, #333, #333, #6d6c6c);
}
.flipper-dark-gradient .digit-top.r {
  background: black;
}
.flipper-dark-gradient .digit-top2 {
  background: black;
}
.flipper-dark-gradient .digit-top2.r {
  background: #333;
}
.flipper-dark-gradient .digit-bottom {
  background: #333;
}

.flipper-dark-gradient .flipper-group label {
  color: #333;
}
